# Day 7 Plan – "The Power of Pandas: Grouping, Missing Values & Merging"

In [1]:
class Car:
    def __init__(self, name, model, year):
        self.name = name
        self.model = model
        self.year = year

    def __repr__(self):
        return f"Car(name={self.name}, model={self.model}, year={self.year})"
car1 = Car("Toyota", "Corolla", 2020)
car2 = Car("Honda", "Civic", 2019)
car3 = Car("Ford", "Mustang", 2021)
car4 = Car("Chevrolet", "Camaro", 2022)
car5 = Car("Nissan", "Altima", 2018)
car6 = Car("Hyundai", "Elantra", 2020)
car7 = Car("Kia", "Optima", 2019)
car8 = Car("Volkswagen", "Jetta", 2021)
car9 = Car("Subaru", "Impreza", 2020)
car10 = Car("Mazda", "3", 2022)
car_list = [car1, car2, car3, car4, car5, car6, car7, car8, car9, car10]
for car in car_list:
    print(car)

Car(name=Toyota, model=Corolla, year=2020)
Car(name=Honda, model=Civic, year=2019)
Car(name=Ford, model=Mustang, year=2021)
Car(name=Chevrolet, model=Camaro, year=2022)
Car(name=Nissan, model=Altima, year=2018)
Car(name=Hyundai, model=Elantra, year=2020)
Car(name=Kia, model=Optima, year=2019)
Car(name=Volkswagen, model=Jetta, year=2021)
Car(name=Subaru, model=Impreza, year=2020)
Car(name=Mazda, model=3, year=2022)

#  Pandas Section

In [2]:
import pandas as pd
car_data = {
    "Name": ["Toyota", "Honda", "Ford", "Chevrolet", "Nissan", "Hyundai", "Kia", "Volkswagen", "Subaru", "Mazda"],
    "Model": ["Corolla", "Civic", "Mustang", "Camaro", "Altima", "Elantra", "Optima", "Jetta", "Impreza", "3"],
    "Year": [2020, 2019, 2021, 2022, 2018, 2020, 2019, 2021, 2020, 2022]
}   
car_df = pd.DataFrame(car_data)
print(car_df)   
car_df.to_csv("car_data.csv", index=False)
car_df = pd.read_csv("car_data.csv")
print(car_df)
car_df.to_excel("car_data.xlsx", index=False)
car_df = pd.read_excel("car_data.xlsx")
print(car_df)

         Name    Model  Year
0      Toyota  Corolla  2020
1       Honda    Civic  2019
2        Ford  Mustang  2021
3   Chevrolet   Camaro  2022
4      Nissan   Altima  2018
5     Hyundai  Elantra  2020
6         Kia   Optima  2019
7  Volkswagen    Jetta  2021
8      Subaru  Impreza  2020
9       Mazda        3  2022
         Name    Model  Year
0      Toyota  Corolla  2020
1       Honda    Civic  2019
2        Ford  Mustang  2021
3   Chevrolet   Camaro  2022
4      Nissan   Altima  2018
5     Hyundai  Elantra  2020
6         Kia   Optima  2019
7  Volkswagen    Jetta  2021
8      Subaru  Impreza  2020
9       Mazda        3  2022
         Name    Model  Year
0      Toyota  Corolla  2020
1       Honda    Civic  2019
2        Ford  Mustang  2021
3   Chevrolet   Camaro  2022
4      Nissan   Altima  2018
5     Hyundai  Elantra  2020
6         Kia   Optima  2019
7  Volkswagen    Jetta  2021
8      Subaru  Impreza  2020
9       Mazda        3  2022

In [4]:
car_data = {
    "Name": ["Toyota", "Honda", "Ford", ...],
    "Model": ["Corolla", "Civic", "Mustang", ...],
    "Year": [2020, 2019, 2021, ...]
}
car_df = pd.DataFrame(car_data)
print(car_df)

car_df.to_csv("car_data.csv", index=False)
car_df = pd.read_csv("car_data.csv")
print(car_df.dtypes)
print(car_df.sort_values("Year"))

       Name     Model      Year
0    Toyota   Corolla      2020
1     Honda     Civic      2019
2      Ford   Mustang      2021
3  Ellipsis  Ellipsis  Ellipsis
Name     object
Model    object
Year     object
dtype: object
       Name     Model      Year
1     Honda     Civic      2019
0    Toyota   Corolla      2020
2      Ford   Mustang      2021
3  Ellipsis  Ellipsis  Ellipsis

# Group by Year (Most recent cars)

In [5]:
grouped = car_df.groupby("Year").count()
print(grouped)

          Name  Model
Year
2019         1      1
2020         1      1
2021         1      1
Ellipsis     1      1

 # Missing Values (for practice):

In [6]:
car_df.loc[2, "Model"] = None  # Set Mustang model as missing
print(car_df.isnull().sum())

Name     0
Model    1
Year     0
dtype: int64

# Mergeing with another DataFrame (Advanced):

In [7]:
extra_data = pd.DataFrame({
    "Name": ["Toyota", "Honda", "Ford"],
    "Country": ["Japan", "Japan", "USA"]
})
merged_df = pd.merge(car_df, extra_data, on="Name", how="left")
print(merged_df)

       Name     Model      Year Country
0    Toyota   Corolla      2020   Japan
1     Honda     Civic      2019   Japan
2      Ford      None      2021     USA
3  Ellipsis  Ellipsis  Ellipsis     NaN

# Summary of What You've Done Today:

✔️ Practiced Object-Oriented Programming (class Car)

✔️ Created a Pandas DataFrame from objects

✔️ Saved and loaded data using .to_csv() and read_csv()

✔️ Practiced groupby(), isnull(), and merge() operations

✔️ Used real-world-like car data, which is great practice